<table>
  <thead>
     <tr>
       <th>Photo</th>
       <th>Name</th>
       <th>Location</th>
       <th>Status</th>
       <th>Category</th>
     </tr>
   </thead>
   <tbody>
     <% results.each do |item| %>
       <tr>
         <td>
           <img src=<%= item['image'] %> alt="" />
         </td>
         <td><%= item['name'] %></td>
         <td><%= item['location'] %></td>
         <td><%= item['status'] %></td>
         <td><%= item['category'] %></td>
       </tr>
     <% end %>
   </tbody>
</table>
